*.a
*.bin
*.coff
*.dbg
*.dep
*.exe
*.com
*.lib
*.i
*.ith
*.lst
*.map
*.mo32
*.mo64
*.o
*.o64
*.obj
*.obj64
*.od
*.orig
*.out
*.pdb
*.rdf
*.rej
*.s
*.srec
*.si
*.swp
.*swo
*~
\#*
.\#*
*.bak
*.tmp
/engine/directbl.c
/engine/directbl.h
/engine/directiv.h
/engine/pptok.c
/engine/pptok.h
/engine/pptok.ph
/engine/tokens.h
/engine/tokhash.c
/engine/warnings.c
/include/warnings.h
/macros/macros.c
/x86/iflag.c
/x86/iflaggen.h
/x86/insnsa.c
/x86/insnsb.c
/x86/insnsd.c
/x86/insnsi.h
/x86/insnsn.c
/x86/regdis.c
/x86/regdis.h
/x86/regflags.c
/x86/regs.c
/x86/regs.h
/x86/regvals.c
/build
